<!DOCTYPE html>
<html ng-app="userServiceApp">
<head>
<meta charset="ISO-8859-1">
<title>User Service Main Page</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/lib/angular.js"></script>
<script
	src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
<script
	src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
<script src="js/lib/ui-router.js"></script>
<script src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
<script src="js/app/app.js"></script>
</head>

<body ng-controller="userController"
	ng-init="userController.getAllUsers()">
	<hr />
	<div class="container">
		<div class="row">
			<label>FirstName</label> <input type="text" ng-model="user.firstName"
				class="input-sm spacing" /> <label>LastName</label> <input
				type="text" ng-model="user.lastName" class="input-sm spacing" /> <label>Address</label>
			<input type="text" ng-model="user.Address" class="input-sm spacing" />

			<label>Phone</label> <input type="text" ng-model="user.phone"
				class="input-sm spacing" />

			<button ng-click="saveUser()" class="btn btn-sm btn-info">Save
				User</button>
		</div>

		<div class="row">
			<div class="col-12">
				<h1>List of Users</h1>
				<table class="table table-striped" style="margin: 30px 0 20px;">
					<thead>
						<tr>
							<th scope="col">First Name</th>
							<th scope="col">Last Name</th>
							<th scope="col">Address</th>
							<th scope="col">Phone</th>
							<th scope="col">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<div>
						<tr ng-repeat="user in users" ng-init="users=getAllUsers()"
							style="line-height: 38px;">
							<td>{{user.firstName}}</td>
							<td>{{user.lastName}}</td>
							<td>{{user.Address}}</td>
							<td>{{user.Phone}}</td>
						</tr>
						</div>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
